@model fireiceproj.Models.Queries

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Queries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameoftheproblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameoftheproblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Txt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Txt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateofvisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateofvisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameoftechnition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameoftechnition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idquer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
