@model IEnumerable<fireiceproj.Models.Queries>

@{
    ViewData["Title"] = "Indexadmin";
}

<h1>Indexadmin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="indexadmin">
    <p>
        <input type="search" placeholder="Въведи ИД на заявка или име на техник" value="@ViewData["status"]" name="status" style="width:500px;" />
        <input type="submit" value="Търсене" class="btn btn-primary" />
        <a asp-action="Index">Показване на всички</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idquer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nameoftheproblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Txt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofvisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nameoftechnition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idquer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nameoftheproblem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Txt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofvisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nameoftechnition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idquer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idquer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idquer">Delete</a>
                <a asp-action="EditEngenear" asp-route-id="@item.Idquer">Edit as Admin</a>
            </td>
        </tr>
}
    </tbody>
</table>
